@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body, html{
    font-family: "Josefin Sans", sans-serif;
    padding: 0;
    margin: 0;
}
/* Typography Styling*/
h1{
    font-weight: 700;
    font-size: 50px;
}
h2{
    font-weight: bolder;
    font-size: 45px;

}
h3{
    font-weight: bold;
    font-size: 30px;
}
h4{
    font-weight: bold;
    font-size: 20px;
}
p{
    font-size: 30px;
    font-weight: bold;
    margin: 30px 0;
}

/* Banner & Wrapper */
.wrapper{
    margin: 0 auto;
    width: 960px;
}
.hero-banner{
    background: #af7ac5;
    min-height: 90vh;
    padding: 50px 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.hero-banner h1{
    color: white;
    margin: 25px 0;
}
.hero-banner h3{
    color: white;
    margin: 0 0 35px;
}
.hero-banner h4,
.hero-banner h4 a{
    color: white;
    margin: 0;
}

/* Character positioning */
.character1{
    background: url(img/friend1.png) no-repeat 0 0;
    background-size: 100%;
    width: 303px;
    height: 365px;
    position: absolute; top: 117px; right: 50px;
    rotate: -10deg;
}
.character2{
    background: url(img/friend2.png) no-repeat 0 0;
    background-size: 100%;
    width: 303px;
    height: 365px;
    position: absolute; top: 260px; right: 1px;
}
.character3{
    background: url(img/friend3.png) no-repeat 0 0;
    background-size: 100%;
    width: 303px;
    height: 365px;
    position: absolute; top: 260px; right: 180px;
    rotate: 10deg;
}

/* Buttons */
a.cta,
button.cta{
    font-size: 30px;
    font-weight: bold;
    color: white;
    background: 007FFF;
    display: inline-block;
    outline: 10px solid rgba(106, 0, 255, 0.3);
    padding: 20px 30px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #af7ac5;
}
a.cta.alt,
button.cta.alt{
    background-color: #FFD400;
    outline-color: rgba(0,0,0,.15);
    color: #111111;
}
a.cta:hover,
button.cta:hover{
    opacity: .7;
}
a.cta:active,
button.cta:active{
    opacity: .5;
}

/* Nav */
nav{
    height: 100px;
    background-color: white;
    box-shadow: 0 5px 8px rgba(0,0,0,.2);
    position: sticky; top: 0;
    z-index: 1;
}
nav .logo{
    display: block;
    width: 300px;
    height: 40px;
    position: absolute; top: 50%; left: 0;
    margin-top: -20px;
    margin-left: 30px;
    background: url(img/logo.png) no-repeat 0 0;
    background-size: 100%;
    overflow: hidden;
    text-indent: -999px;
}
nav ul li{
    margin: 0;
    padding: 0;
    display: block;
    float: right;
}
nav ul li a{
    display: block;
    height: 100%;
    box-sizing: border-box;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #111111;
    text-decoration: none;
    padding: 35px 10px;
    line-height: 30px;
}

/* More info */
.more-info{
    text-align: center;
}
.more-info h2{
    margin: 50px 0 0;
}
.more-info p{
    margin: 18px 0 35px;
}
.highlight{
    background-color: #af7ac5;
    color: #00ff4c;
    padding: 5px 5px;
    line-height: 50px;
    display: inline;
    font-weight: bold;
}

/* Story List */
.sep{
    height: 10px;
    width: 470px;
    background-color: #111111;
    margin: 70px auto;
}
.story h3{
    font-size: 40px;
    font-weight: bold;
}

.nb-list{
    width: 470px;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
    background-color: #EDEDED;
    float: left;
    margin: 0 20px 20px 0;
    position: relative;
}
.nb-list li{
    height: 70px;
    border-radius: 10px;
    font-size: 40px;
    color: white;
    font-weight: bold;
    display: block;
    margin: 0 0 20px;
    padding: 20px;
    box-sizing: border-box;
}
.nb-list li.blue{background-color: #007FFF;}
.nb-list li.grey{background-color: rgba(0,0,0,.1);}
.nb-list li.yellow{
    background-color: #FFD400;
    color: #111111;}
.nb-list li.red{background-color: #FF3300;}
.nb-list li.pink{background-color: #FFADF9;}
.nb-list li.salmon{background-color: #FA8072;}
.nb-list li.dragging{
    position: absolute; 
    top: 100px;
    left: 65px;
    right: -20px;
    rotate: 6deg;
    box-shadow: 0 2px 14px rgba(0,0,0,.3);
}
.nb-list li.dragging:after{
    content: '';
    display: block;
    position: absolute;
    width: 54px;
    height: 60px;
    background: url(img/draghand.png) no-repeat 0 0;
    background-size: 100%;
    bottom: -33px;
    left: 60%;
    rotate: -10deg;
}

/* Footer */
.club-img{
    display: block;
    margin: 0 auto;
}
footer{
    text-align: center;
    color: rgba(0,0,0,.4);
    font-size: 20px;
    margin: 85px 0 45px;
    font-weight: bold;
}
footer a{
    color: rgba(0,0,0,.4);
}

/* Popup */
.popup{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.popup.show{
    display: block;
}
.popup .blanket{
    background-color: rgba(0,0,0,.7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.popup .content{
    box-sizing: border-box;
    padding: 30px 40px;
    width: 960px;
    height: 500px;
    background-color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -250px;
    margin-left: -540px;
}
.popup h2{
    margin: 10px 0 20px;
}
.popup .cta{
    margin-top: 40px;
}
.popup .close{
     width: 80px;
     height: 80px;
     background: #FF3300 url(img/X-Icon.png) no-repeat center center;
     background-size: 50%;
     position: absolute;
     top: -40px;
     right: -40px;
     border-radius: 50%;
     border: none;
     outline: none;
     overflow: hidden;
     text-indent: -999px;
     cursor: pointer;
}
.popup .close:hover{
    background-color: #9e2203
}

.popup .row::after{
    content: '';
    display: table;
    clear: both;
}
.popup .item{
    float: left;
    width: 415px;
    margin-left: 40px;
    text-align: left;
}
.popup .item:first-child{
    margin: 0;
}
.popup .item label{
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}
.popup .item input[type='text']{
    display: block;
    font-size: 30px;
    font-weight: bold;
    border: 4px solid #111111;
    height: 70px;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 20px;
}